
$header-background: #a7a9ac;
$header-background-bottom: #dcddde;
$logo: "http://resource.osvr.com/ci/osvr-ci-logo.png";
$logo-height: 37px;
$logo-width: 37px;
$logo-margin: 10px;

@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,600);
$display-font-stack: "Titillium Web", Helvetica, Arial;

#header {
	background: $header-background;
	background: -moz-linear-gradient(top, $header-background 0%, $header-background-bottom 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$header-background), color-stop(100%,$header-background-bottom));
	background: -webkit-linear-gradient(top, $header-background 0%,$header-background-bottom 100%);
	background: -o-linear-gradient(top, $header-background 0%,$header-background-bottom 100%);
	background: -ms-linear-gradient(top, $header-background 0%,$header-background-bottom 100%);
	background: linear-gradient(top, $header-background 0%,$header-background-bottom 100%);
	.login {
		a {
			color: #333;
		}
	}
	height: $logo-height + 2 * $logo-margin;
}

.logo {
	&>a {
		background:url($logo) 0 0 no-repeat;
		display:block;
		width: $logo-width;
		height: $logo-height + $logo-margin;
		margin: $logo-margin 0 $logo-margin $logo-margin;
	}
}
#jenkins-name-icon::before {
	content: "Continuous Integration";
	font: 300 18px/22px $display-font-stack;
	color: #888;
}
